body {
    margin: 0;
    font-family: roboto, arial;
    padding-bottom: 1000px;
    padding-top: 80px;
    padding-left: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.158);
    z-index: 100;
}

.left {
    display: flex;
    justify-content: space-between;
    width: 165px;
    margin-right: 60px;
    flex-shrink: 0;
}

.hamburger-menu {
    width: 25px;
    margin-left: 24px;
    cursor: pointer;
}

.youtube-logo {
    width: 90px;
    cursor: pointer;
}

.middle {
    justify-content: center;
    display: flex;
    flex: 1;
    align-items: center;
}

.middle input {
    width: 0;
    max-width: 380px;
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(191, 191, 191);
    box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.049);
}

.middle input::placeholder {
    font-size: 17px;
}

.search-icon, .voice-search-icon{
    height: 25px;
}

.search-button {
    height: 39px;
    padding: 0px 20px;
    margin-left: -1px;
    border: 1px solid rgb(191, 191, 191);
    margin-right: 10px;
    background-color: rgb(245, 245, 245);
}

.search-button, .voice-search-button, .upload-icon-container, .apps-icon-container, .notifications-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
    background-color: rgb(107, 107, 107);
    position: absolute;
    bottom: -45px;
    color: white;
    padding: 9px 7px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip
{
    opacity: 1;
}


.voice-search-button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(244, 244, 244);
    border-radius: 100px;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin-right: 20px;
    flex-shrink: 0;
    margin-left: 40px;
    position: relative;
}

.upload-icon, .notifications-icon, .apps-icon {
    height: 24px;
}

.channel-profile-pics {
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
}

.notifications-number {
    color: white;
    background-color: red;
    font-size: 13px;
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top: -4px;
    right: -4px;
}

