
.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    height: 500px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: white;
}

.container {
    height: 70px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container:hover {
    background-color: rgba(230, 230, 230, 0.618);
}

nav img {
    height: 25px;
    padding-bottom: 5px;
}

nav div {
    font-size: 10px;
    font-weight: 300;
}